body {
        /*min-width: 357px;*/
        background-color: #d9d9d1;
        min-width: 500px;
        min-height:250px;
        overflow-x: hidden;
      }

img {
  margin: 5px;
  border: 2px solid black;
  vertical-align: middle;
  width: 75px;
  height: 75px;
}
#logo{
  color: #FFD42A;
  font-size: 17px;
   text-transform: none;
}
.breadcrumbs{
  background-color: #444;
  border: 1px solid #f3f3f3;
  margin-bottom: 0px;

}
element.style {
}
.breadcrumbs > *:before{
  color: #FFD42A;
}
ul.ui-autocomplete{
  max-height: 100px;
  overflow: auto;
  font-size: 13px;
}
ul.bankList{
  list-style-type: none;
  font-size: 12px;

}